@media (min-width: 1500px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
  }
}

header {
  padding-top: 45px;
}

body {
  background-color: #FFFEF6;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 90px;
  width: 843px;
  letter-spacing: 6px;
  color: #715841;
}

@media screen and (max-width: 1500px) {
  .title {
    width: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .title {
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    width: 468px;
    letter-spacing: 0px;
  }
}

.paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  color: #715841;
}

@media screen and (max-width: 1500px) {
  .paragraph {
    font-size: 18px;
    line-height: 30px;
  }
}

.button {
  width: 234px;
  height: 81px;
  border: 1px solid #715841;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 10px;
  opacity: 1;
  z-index: 30;
  transition: background-color 1s ease;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #715841;
}

.button:hover {
  transition: background-color 1s ease;
  background-color: #4d4d4d;
  opacity: .6;
  color: #bea48d;
}

@media screen and (max-width: 1200px) {
  .button {
    width: 190px;
    height: 67px;
  }
}

.line-hidden {
  opacity: 0 !important;
  transition: opacity .3s ease !important;
}

.content {
  padding: 0;
  position: relative;
}

@media (max-width: 1200px) {
  header {
    padding-top: 30px;
  }
}

.burger {
  height: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  z-index: 20;
}

.burger span {
  width: 40px;
  height: 2px;
  display: block;
  background: #BEA468;
  color: #BEA468;
  border-radius: 5px;
}

.line {
  position: fixed;
  bottom: 80px;
  opacity: 1;
  z-index: 30;
  transition: opacity .3s ease;
}

.line span {
  font-family: 'Krona One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #D4CCBF;
  transition: color .3s ease-in;
  display: block;
  position: absolute;
}

@media screen and (max-width: 1200px) {
  .line span {
    font-size: 14px;
  }
}

.line .act {
  color: #BEA468;
  transition: color .3s ease-in;
}

.line .vision {
  top: -20px;
  right: -70px;
}

.line .tummo {
  left: -95px;
  top: 75px;
  width: 100px;
}

.line .art {
  left: 75px;
  top: 120px;
}

.line .silk {
  top: 190px;
  left: -95px;
  width: 100px;
}

.line .gallery {
  bottom: 5px;
  left: 75px;
}

@media (max-width: 1200px) {
  .line img {
    width: 60px;
    height: 300px;
  }
  .line .vision {
    top: 0px;
    right: -70px;
  }
  .line .tummo {
    left: -80px;
    top: 80px;
    width: 100px;
  }
  .line .art {
    left: 75px;
    top: 120px;
  }
  .line .silk {
    top: 175px;
    left: -80px;
    width: 85px;
  }
  .line .gallery {
    bottom: 5px;
    left: 75px;
  }
}

.description {
  position: relative;
}

.pictures {
  position: relative;
}

.pictures .fractals {
  position: absolute;
  bottom: 75px;
  left: -435px;
}

@media (max-width: 1500px) {
  .pictures img:first-child {
    width: 100%;
  }
  .pictures .fractals {
    width: 400px;
    left: -290px;
  }
}

@media (max-width: 1200px) {
  .pictures {
    height: 500px;
  }
  .pictures img:first-child {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .pictures .fractals {
    bottom: 0;
    width: 300px;
    left: -190px;
  }
}

.swiper-container {
  width: 70%;
  margin-left: 30% !important;
  margin-right: 0 !important;
  height: 400px;
  top: 243px;
}

.swiper-container .content-wrapper {
  width: 185.02px;
  height: 258.79px;
  opacity: 0.2;
  border: 2px solid #ABABAB;
  box-sizing: border-box;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .swiper-container .content-wrapper {
    width: 154px;
    height: 240px;
  }
}

.swiper-container .content {
  background: #FFFFFF;
  box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656), 0px 100px 80px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  width: 163.94px;
  height: 237.71px;
}

@media screen and (max-width: 1300px) {
  .swiper-container .content {
    width: 134px;
    height: 219px;
  }
}

.swiper-container .swiper-scrollbar-drag {
  background: #BDA367 !important;
}

.scrollbar {
  bottom: auto !important;
}

.swiper-wrapper {
  margin-top: 85px;
}

.menu-wrapper {
  overflow: hidden;
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
}

.menu-none {
  right: -100% !important;
  transition: right .4s ease;
}

.menu {
  background: #BDA367;
  border-radius: 0 0 0px 0px;
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: right .4s ease;
}

.menu ul {
  display: flex;
  width: 90%;
  height: 130%;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}

@media screen and (max-width: 1700px) {
  .menu ul {
    width: 1025px;
  }
}

@media screen and (max-width: 1250px) {
  .menu ul {
    width: 880px;
    padding-left: 30px;
    height: 140%;
  }
}

@media screen and (max-width: 1200px) {
  .menu ul {
    height: 115%;
  }
}

.menu ul li {
  list-style-type: none;
  position: relative;
}

.menu ul li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFEF6;
}

.menu ul li:after {
  position: absolute;
  content: '';
  display: block;
  width: 111px;
  height: 5px;
  background-color: #FFFEF6;
  top: 10px;
}

@media screen and (max-width: 1700px) {
  .menu ul li:after {
    width: 80px;
  }
}

@media screen and (max-width: 1250px) {
  .menu ul li:after {
    width: 65px;
  }
}

.menu ul li:first-child:after {
  left: 165px;
}

.menu ul li:nth-child(2):after {
  left: 140px;
}

.menu ul li:nth-child(3):after {
  left: 150px;
}

.menu ul li:nth-child(4):after {
  left: 140px;
}

.menu ul li:nth-child(5):after {
  display: none;
}

.menu img {
  position: absolute;
  right: 0;
  top: 80px;
  opacity: 1 !important;
  cursor: pointer;
  z-index: 25;
}

@media (max-width: 1700px) {
  .menu ul li:first-child:after {
    left: 130px;
  }
  .menu ul li:nth-child(2):after {
    left: 110px;
  }
  .menu ul li:nth-child(3):after {
    left: 125px;
  }
  .menu ul li:nth-child(4):after {
    left: 105px;
  }
  .menu ul li:nth-child(5):after {
    display: none;
  }
}

@media (max-width: 1250px) {
  .menu {
    height: 136px;
  }
  .menu ul li:first-child:after {
    left: 120px;
  }
  .menu ul li:nth-child(2):after {
    left: 90px;
  }
  .menu ul li:nth-child(3):after {
    left: 100px;
  }
  .menu ul li:nth-child(4):after {
    left: 80px;
  }
  .menu ul li:nth-child(5):after {
    display: none;
  }
}

@media (max-width: 1200px) {
  .menu img {
    top: 60px;
  }
}

.hero__line {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 90px;
  width: 843px;
  letter-spacing: 6px;
  color: #715841;
  top: 76px;
  left: 278px;
  position: absolute;
}

@media screen and (max-width: 1500px) {
  .hero h1 {
    width: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .hero h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    width: 468px;
    letter-spacing: 0px;
  }
}

.hero button {
  position: absolute;
  left: 495px;
  top: 390px;
}

@media (max-width: 1200px) {
  .hero h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 90px;
    width: 843px;
    letter-spacing: 6px;
    color: #715841;
    top: 65px;
    left: 290px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1500px) {
  .hero h1 {
    width: 700px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1200px) {
  .hero h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    width: 468px;
    letter-spacing: 0px;
  }
}

@media (max-width: 1200px) {
  .hero button {
    left: 400px;
  }
  .hero .bird {
    width: 400px;
  }
}

.world h2 {
  position: absolute;
  left: 390px;
  top: 85px;
}

.world p {
  width: 550px;
  position: absolute;
  left: 360px;
  top: 215px;
}

@media (max-width: 1500px) {
  .world h2 {
    left: 310px;
  }
  .world p {
    left: 280px;
  }
}

@media (max-width: 1200px) {
  .world h2 {
    left: 300px;
  }
  .world p {
    font-size: 16px;
    line-height: 26px;
    width: 445px;
  }
}

.art {
  margin-bottom: 220px;
}

.art .content h2, .art .content p, .art .content button, .art .content .fractal {
  position: absolute;
}

.art .content-1 h2 {
  top: 56px;
  left: 213px;
}

.art .content-1 p {
  top: 225px;
  left: 542px;
  width: 515px;
}

.art .content-1 button {
  top: 455px;
  left: 360px;
}

.art .content-1 .fractal {
  bottom: -220px;
  left: 320px;
}

.art .content-2 {
  display: flex;
  justify-content: flex-end;
  margin-top: -100px;
}

.art .content-2 p {
  right: 544px;
  width: 488px;
  top: 320px;
}

.art .content-2 button {
  right: 367px;
  top: 464px;
}

.art .content-2 .fractal {
  bottom: -160px;
  right: 272px;
}

@media (max-width: 1350px) {
  .art .content img:first-child {
    width: 400px;
  }
  .art .content .fractal {
    width: 350px;
  }
  .art .content-1 p {
    left: 440px;
  }
  .art .content-1 button {
    left: 280px;
  }
  .art .content-2 p {
    right: 415px;
    width: 465px;
  }
  .art .content-2 button {
    right: 290px;
  }
  .art .content-2 .fractal {
    bottom: -240px;
    right: 250px;
  }
}

@media (max-width: 1200px) {
  .art .content-1 .fractal {
    left: 200px;
  }
  .art .content-2 .fractal {
    right: 215px;
  }
}

.silk {
  height: 700px;
  margin-bottom: 320px;
}

.silk .content h2 {
  position: absolute;
  width: 365px;
  top: 116px;
  left: 368px;
}

.silk .content p {
  position: absolute;
  width: 488px;
  top: 370px;
  left: 555px;
}

.silk .content button {
  position: absolute;
  top: 553px;
  left: 362px;
}

.silk .content .fractal {
  position: absolute;
  left: -208px;
  bottom: -208px;
}

@media (max-width: 1350px) {
  .silk {
    margin-bottom: 155px;
  }
  .silk .content h2 {
    left: 280px;
    top: 70px;
  }
  .silk .content p {
    top: 295px;
    left: 450px;
  }
  .silk .content button {
    top: 425px;
    left: 275px;
  }
  .silk .content img:first-child {
    width: 390px;
  }
  .silk .content .fractal {
    width: 330px;
    height: 330px;
    bottom: -160px;
    left: -160px;
  }
}

@media (max-width: 1200px) {
  .silk .content h2 {
    width: 245px;
  }
  .silk .content p {
    top: 265px;
    left: 410px;
    width: 435px;
  }
}

.section-gallery {
  height: 900px;
  position: relative;
}

.section-gallery h2 {
  position: absolute;
  left: 390px;
}

.section-gallery .content {
  height: 100%;
}

.section-gallery .fractal {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer {
  height: 80px;
  width: 100%;
  background: #BDA367;
}

.footer button {
  width: 165px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #FFFEF6;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #BDA367;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer input {
  border: 1px solid #FFFEF6;
  box-sizing: border-box;
  border-radius: 10px;
  width: 330px;
  height: 60px;
  padding-left: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFEF6;
  outline: none;
  margin-right: 18px;
}
/*# sourceMappingURL=style.css.map */