@media (min-width: 1500px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
  }
}

header {
  padding-top: 45px;
}

body {
  background-color: #FFFEF6;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 90px;
  width: 843px;
  letter-spacing: 6px;
  color: #715841;
}

@media screen and (max-width: 1500px) {
  .title {
    width: 680px;
  }
}

@media screen and (max-width: 1200px) {
  .title {
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    width: 480px;
    letter-spacing: 0px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 48px;
    line-height: 56px;
    width: 390px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    width: 300px;
    font-size: 40px;
  }
}

.paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  color: #715841;
}

@media screen and (max-width: 1500px) {
  .paragraph {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: 992px) {
  .paragraph {
    line-height: 38px !important;
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .paragraph {
    line-height: 34px !important;
    font-size: 16px;
  }
}

.button {
  width: 234px;
  height: 81px;
  border: 1px solid #715841;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 10px;
  opacity: 1;
  z-index: 30;
  transition: background-color 1s ease;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #715841;
}

.button:hover {
  transition: background-color 1s ease;
  background-color: #4d4d4d;
  opacity: .6;
  color: #bea48d;
}

@media screen and (max-width: 1200px) {
  .button {
    width: 190px;
    height: 67px;
  }
}

@media screen and (max-width: 768px) {
  .button {
    width: 400px;
  }
}

@media screen and (max-width: 460px) {
  .button {
    width: 320px;
  }
}

.line-hidden {
  opacity: 0 !important;
  transition: opacity .3s ease !important;
}

.content {
  padding: 0;
  position: relative;
}

@media (max-width: 1200px) {
  header {
    padding-top: 30px;
  }
}

@media (max-width: 992px) {
  header {
    margin-bottom: 40px;
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  header {
    padding-top: 30px;
  }
  header img {
    width: 120px;
  }
}

.mobile-break-line {
  display: contents;
}

@media screen and (max-width: 992px) {
  .mobile-break-line {
    display: block;
  }
}

@font-face {
  font-family: "OratorW01-Medium";
  src: url("//db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.eot");
  src: url("//db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.woff") format("woff"), url("//db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/daf8c1a0f06e7a24d9dca48b9d88dac0.svg#OratorW01-Medium") format("svg");
}

.burger {
  height: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  z-index: 20;
}

.burger span {
  width: 40px;
  height: 2px;
  display: block;
  background: #BEA468;
  color: #BEA468;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .burger {
    height: 14px;
  }
  .burger span {
    width: 30px;
  }
}

.line-active {
  opacity: 1 !important;
  transition: opacity .3s ease-in;
}

.line {
  position: fixed;
  bottom: 80px;
  opacity: 1;
  z-index: 30;
  transition: opacity .3s ease;
}

.line span {
  font-family: 'Krona One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #D4CCBF;
  transition: color .3s ease-in;
  display: block;
  position: absolute;
}

@media screen and (max-width: 1200px) {
  .line span {
    font-size: 14px;
  }
}

.line .first, .line .second, .line .third, .line .forth, .line .fifth {
  position: absolute;
}

.line .second, .line .third, .line .forth, .line .fifth {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.line .first {
  width: 43px;
  left: 3px;
}

.line .second {
  top: 102px;
  left: 4px;
  width: 61px;
}

.line .third {
  top: 118px;
  left: -2px;
}

.line .forth {
  bottom: 0;
  left: 30px;
}

.line .act {
  color: #BEA468;
  transition: color .3s ease-in;
}

.line .vision {
  top: -20px;
  right: -70px;
}

.line .tummo {
  left: -95px;
  top: 75px;
  width: 100px;
}

.line .art {
  left: 75px;
  top: 120px;
}

.line .silk {
  top: 190px;
  left: -95px;
  width: 100px;
}

.line .gallery {
  bottom: 5px;
  left: 75px;
}

@media (max-width: 1200px) {
  .line img {
    width: 60px;
    height: 300px;
  }
  .line .vision {
    top: 0px;
    right: -70px;
  }
  .line .tummo {
    left: -80px;
    top: 80px;
    width: 100px;
  }
  .line .art {
    left: 75px;
    top: 120px;
  }
  .line .silk {
    top: 175px;
    left: -80px;
    width: 85px;
  }
  .line .gallery {
    bottom: 5px;
    left: 75px;
  }
  .line .first {
    top: -88px;
    left: 2px;
    width: 34px;
  }
  .line .second {
    top: 10px;
    height: 207px;
    left: 3px;
    width: 52px;
  }
  .line .third {
    top: 7px;
    left: 0px;
  }
  .line .forth {
    bottom: -84px;
    left: 27px;
    width: 34px;
  }
}

@media (max-width: 992px) {
  .line {
    display: none;
  }
}

.description {
  position: relative;
}

.pictures {
  position: relative;
}

.pictures .fractals {
  position: absolute;
  bottom: 75px;
  left: -435px;
}

@media (max-width: 1500px) {
  .pictures img:first-child {
    width: 100%;
  }
  .pictures .fractals {
    width: 400px;
    left: -290px;
  }
}

@media (max-width: 1200px) {
  .pictures {
    height: 500px;
  }
  .pictures img:first-child {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .pictures .fractals {
    bottom: 0;
    width: 300px;
    left: -190px;
  }
}

.swiper-container {
  width: 70%;
  margin-left: 30% !important;
  margin-right: 0 !important;
  height: 400px;
  top: 243px;
}

.swiper-container .content-wrapper {
  width: 185.02px;
  height: 258.79px;
  opacity: 0.2;
  border: 2px solid #ABABAB;
  box-sizing: border-box;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .swiper-container .content-wrapper {
    width: 154px;
    height: 240px;
  }
}

.swiper-container .content {
  background: #FFFFFF;
  box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656), 0px 100px 80px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  width: 163.94px;
  height: 237.71px;
}

@media screen and (max-width: 1300px) {
  .swiper-container .content {
    width: 134px;
    height: 219px;
  }
}

.swiper-container .swiper-scrollbar-drag {
  background: #BDA367 !important;
}

.item-1 .swiper-button-prev {
  content: url("../../img/backward.svg") !important;
  outline: none;
}

.item-1 .swiper-button-next {
  content: url("../../img/forward.svg") !important;
  outline: none;
}

.item-1 .backward {
  top: inherit;
  bottom: 250px;
  left: -135px;
  width: 80px;
  height: 80px;
}

.item-1 .forward {
  top: inherit;
  bottom: 250px;
  right: 0px;
  width: 80px;
  height: 80px;
}

.item-2 .swiper-button-prev {
  content: url("../../img/backward.svg") !important;
  outline: none;
}

.item-2 .swiper-button-next {
  content: url("../../img/forward.svg") !important;
  outline: none;
}

.item-2 .backward-2 {
  top: inherit;
  bottom: 250px;
  left: -135px;
  width: 80px;
  height: 80px;
}

.item-2 .forward-2 {
  top: inherit;
  bottom: 250px;
  right: -135px;
  width: 80px;
  height: 80px;
}

.swiper-container-2 {
  margin-right: 0 !important;
  height: 80%;
  width: 700px;
  top: 365px;
  overflow: hidden;
  position: absolute;
}

.swiper-container-2 .content-wrapper {
  width: 185.02px;
  height: 258.79px;
  opacity: 0.2;
  border: 2px solid #ABABAB;
  box-sizing: border-box;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .swiper-container-2 .content-wrapper {
    width: 154px;
    height: 240px;
  }
}

.swiper-container-2 .content {
  background: #FFFFFF;
  box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656), 0px 100px 80px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  width: 163.94px;
  height: 237.71px;
}

@media screen and (max-width: 1300px) {
  .swiper-container-2 .content {
    width: 134px;
    height: 219px;
  }
}

.swiper-container-2 .swiper-scrollbar-drag {
  background: #BDA367 !important;
}

.swiper-container-2 .box {
  margin-right: 20px;
}

.swiper-container-3 {
  margin-right: 0 !important;
  height: 80%;
  width: 700px;
  top: 365px;
  overflow: hidden;
  position: absolute;
}

.swiper-container-3 .content-wrapper {
  width: 185.02px;
  height: 258.79px;
  opacity: 0.2;
  border: 2px solid #ABABAB;
  box-sizing: border-box;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .swiper-container-3 .content-wrapper {
    width: 154px;
    height: 240px;
  }
}

.swiper-container-3 .content {
  background: #FFFFFF;
  box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656), 0px 100px 80px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  width: 163.94px;
  height: 237.71px;
}

@media screen and (max-width: 1300px) {
  .swiper-container-3 .content {
    width: 134px;
    height: 219px;
  }
}

.swiper-container-3 .swiper-scrollbar-drag {
  background: #BDA367 !important;
}

.swiper-container-3 .box {
  margin-right: 20px;
}

.scrollbar {
  bottom: auto !important;
}

.swiper-wrapper {
  margin-top: 85px;
}

@media (max-width: 1500px) {
  .swiper-container-2 {
    top: 295px;
  }
  .swiper-container-3 {
    top: 295px;
  }
}

@media (max-width: 1300px) {
  .swiper-container-2 {
    width: 600px;
    left: 0;
  }
  .item-2 .backward-2 {
    top: inherit;
    bottom: 250px;
    left: -85px;
    width: 80px;
    height: 80px;
  }
  .item-2 .forward-2 {
    top: inherit;
    bottom: 250px;
    right: -55px;
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .swiper-container-2 {
    top: 189px;
  }
  .item-1 .forward {
    bottom: 200px;
    right: -50px;
    width: 60px;
    height: 60px;
  }
  .item-1 .backward {
    bottom: 200px;
    left: -80px;
    width: 60px;
    height: 60px;
  }
  .item-2 .backward-2 {
    top: inherit;
    bottom: 250px;
    left: -85px;
    width: 60px;
    height: 60px;
  }
  .item-2 .forward-2 {
    top: inherit;
    bottom: 250px;
    right: -55px;
    width: 60px;
    height: 60px;
  }
  .swiper-container-3 {
    top: 185px;
    width: 600px;
    right: 0;
  }
  .swiper-container-3 .swiper-slide {
    width: 180px;
  }
}

@media (max-width: 992px) {
  .scrollbar {
    display: none;
  }
  .swiper-container {
    top: auto;
  }
  .swiper-container .content {
    width: 85%;
  }
  .swiper-wrapper {
    margin-top: 150px;
  }
}

@media (max-width: 576px) {
  .swiper-container {
    width: 79%;
    margin-left: 20% !important;
  }
  .swiper-container .content-wrapper {
    height: 190px;
  }
  .content-wrapper {
    width: 120px !important;
  }
}

.menu-wrapper {
  overflow: hidden;
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
}

.menu-none {
  right: -100% !important;
  transition: right .4s ease;
}

.menu {
  background: #BDA367;
  border-radius: 0 0 0px 0px;
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: right .4s ease;
}

.menu ul {
  display: flex;
  width: 90%;
  height: 130%;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}

@media screen and (max-width: 1700px) {
  .menu ul {
    width: 1025px;
  }
}

@media screen and (max-width: 1250px) {
  .menu ul {
    width: 880px;
    padding-left: 30px;
    height: 140%;
  }
}

@media screen and (max-width: 1200px) {
  .menu ul {
    height: 115%;
  }
}

@media screen and (max-width: 992px) {
  .menu ul {
    height: 115%;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .menu ul {
    width: 310px;
  }
}

@media screen and (max-width: 360px) {
  .menu ul {
    width: 290px;
  }
}

.menu ul li {
  list-style-type: none;
  position: relative;
}

.menu ul li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFEF6;
}

@media (max-width: 992px) {
  .menu ul li a {
    font-size: 17px;
  }
}

.menu ul li:after {
  position: absolute;
  content: '';
  display: block;
  width: 111px;
  height: 5px;
  background-color: #FFFEF6;
  top: 10px;
}

@media screen and (max-width: 1700px) {
  .menu ul li:after {
    width: 80px;
  }
}

@media screen and (max-width: 1250px) {
  .menu ul li:after {
    width: 65px;
  }
}

@media screen and (max-width: 992px) {
  .menu ul li:after {
    width: 10px;
    height: 10px;
  }
}

.menu ul li:first-child:after {
  left: 165px;
}

.menu ul li:nth-child(2):after {
  left: 140px;
}

.menu ul li:nth-child(3):after {
  left: 150px;
}

.menu ul li:nth-child(4):after {
  left: 140px;
}

.menu ul li:nth-child(5):after {
  display: none;
}

.menu img {
  position: absolute;
  right: 0;
  top: 80px;
  opacity: 1 !important;
  cursor: pointer;
  z-index: 25;
}

@media (max-width: 1700px) {
  .menu ul li:first-child:after {
    left: 130px;
  }
  .menu ul li:nth-child(2):after {
    left: 110px;
  }
  .menu ul li:nth-child(3):after {
    left: 125px;
  }
  .menu ul li:nth-child(4):after {
    left: 105px;
  }
  .menu ul li:nth-child(5):after {
    display: none;
  }
}

@media (max-width: 1250px) {
  .menu {
    height: 136px;
  }
  .menu ul li:first-child:after {
    left: 120px;
  }
  .menu ul li:nth-child(2):after {
    left: 90px;
  }
  .menu ul li:nth-child(3):after {
    left: 100px;
  }
  .menu ul li:nth-child(4):after {
    left: 80px;
  }
  .menu ul li:nth-child(5):after {
    display: none;
  }
}

@media (max-width: 1200px) {
  .menu img {
    top: 60px;
  }
}

@media (max-width: 992px) {
  .menu {
    height: 136px;
  }
  .menu ul li:after {
    top: 7px;
  }
  .menu ul li:first-child:after {
    left: 105px;
  }
  .menu ul li:nth-child(2):after {
    left: 83px;
  }
  .menu ul li:nth-child(3):after {
    left: 93px;
  }
  .menu ul li:nth-child(4):after {
    left: 73px;
  }
  .menu ul li:nth-child(5):after {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu .close {
    right: 20px;
    top: 25px;
  }
  .menu ul {
    flex-wrap: wrap;
    height: 90%;
    margin-top: 2%;
  }
  .menu ul li {
    width: 100px;
  }
  .menu ul li:after {
    display: none;
  }
  .menu ul li:first-child:after {
    left: 105px;
  }
  .menu ul li:nth-child(2):after {
    left: 83px;
  }
  .menu ul li:nth-child(3):after {
    left: 93px;
  }
  .menu ul li:nth-child(4):after {
    left: 73px;
  }
  .menu ul li:nth-child(5):after {
    display: none;
  }
}

@media (max-width: 576px) {
  .menu .close {
    width: 20px;
    top: 43px;
    right: 26px;
  }
  .menu ul li:after {
    display: block;
  }
  .menu ul li:first-child:after {
    left: 115px;
  }
  .menu ul li:nth-child(2):after {
    left: 90px;
  }
  .menu ul li:nth-child(3):after {
    left: 105px;
  }
  .menu ul li:nth-child(4):after {
    left: 85px;
  }
  .menu ul li:nth-child(5):after {
    display: block;
    left: 85px;
  }
}

@media (max-width: 360px) {
  .menu .close {
    width: 20px;
    top: 43px;
    right: 26px;
  }
  .menu ul li:after {
    display: none;
  }
  .menu ul li:first-child:after {
    left: 115px;
  }
  .menu ul li:nth-child(2):after {
    left: 90px;
  }
  .menu ul li:nth-child(3):after {
    left: 105px;
  }
  .menu ul li:nth-child(4):after {
    left: 85px;
  }
  .menu ul li:nth-child(5):after {
    display: none;
    left: 85px;
  }
}

@media (max-width: 325px) {
  .menu .close {
    width: 20px;
    top: 43px;
    right: 26px;
  }
  .menu ul li:after {
    display: none;
  }
  .menu ul li:first-child:after {
    left: 115px;
  }
  .menu ul li:nth-child(2):after {
    left: 90px;
  }
  .menu ul li:nth-child(3):after {
    left: 105px;
  }
  .menu ul li:nth-child(4):after {
    left: 85px;
  }
  .menu ul li:nth-child(5):after {
    display: none;
    left: 85px;
  }
}

.item-1-1 {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
}

.item-none {
  opacity: 0;
  z-index: -2;
  transition: opacity .3s ease;
}

.item-1-2 {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
}

.item-1 {
  position: relative;
  overflow: hidden;
  height: 850px;
}

.item-1 h2 {
  position: absolute;
  top: 140px;
  left: 325px;
}

@media screen and (max-width: 1500px) {
  .item-1 .content-1 img {
    width: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .item-1 .content-1 img {
    width: 300px;
  }
}

.item-1 .content-1 .fractal {
  position: absolute;
  bottom: -10px;
  right: -60px;
}

.item-1 .content-2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 845px;
  width: 800px;
}

@media screen and (max-width: 1500px) {
  .item-1 .content-2 img {
    width: 180px;
  }
}

@media screen and (max-width: 1200px) {
  .item-1 .content-2 img {
    width: 150px;
  }
}

.item-1 .content-2 .click {
  position: absolute;
  top: 300px;
  left: 0;
  width: 400px;
}

@media (max-width: 1500px) {
  .item-1 h2 {
    top: 120px;
    left: 325px;
  }
  .item-1 .content-2 {
    height: 720px;
  }
  .item-1 .content-2 .click {
    top: 260px;
    left: 0;
    width: 400px;
  }
}

@media (max-width: 1300px) {
  .item-1 .content-2 {
    width: 700px;
    margin-left: 20px;
  }
}

@media (max-width: 1200px) {
  .item-1 {
    height: 650px;
  }
  .item-1 h2 {
    top: 70px;
    left: 185px;
  }
  .item-1 .content-1 .fractal {
    position: absolute;
    bottom: -40px;
    right: -60px;
  }
  .item-1 .content-2 {
    height: 570px;
    width: 600px;
  }
  .item-1 .content-2 .click {
    top: 150px;
    width: 300px;
  }
}

.item-2-1 {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
}

.item-none {
  opacity: 0;
  z-index: -2;
  transition: opacity .3s ease;
}

.item-2-2 {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
}

.item-2 {
  height: 850px;
  position: relative;
  margin-bottom: 50px;
}

.item-2 h2 {
  position: absolute;
  top: 140px;
  right: 80px;
  width: 100%;
}

.item-2 .content-1 {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1500px) {
  .item-2 .content-1 img {
    width: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .item-2 .content-1 img {
    width: 300px;
  }
}

.item-2 .content-1 img:first-child {
  height: 720px;
}

.item-2 .content-1 .fractal {
  position: absolute;
  bottom: -80px;
  left: -60px;
}

.item-2 .content-2 {
  width: 700px;
  height: 845px;
}

@media screen and (max-width: 1500px) {
  .item-2 .content-2 img {
    width: 180px;
  }
}

@media screen and (max-width: 1200px) {
  .item-2 .content-2 img {
    width: 150px;
  }
}

.item-2 .content-2 .click {
  position: absolute;
  top: 300px;
  right: 0;
  width: 400px;
}

.item-2 .box {
  z-index: 30;
}

@media (max-width: 1500px) {
  .item-2 h2 {
    top: 120px;
    right: 325px;
  }
  .item-2 .content-1 img:first-child {
    height: 600px;
  }
  .item-2 .content-2 {
    height: 720px;
  }
  .item-2 .content-2 .click {
    top: 260px;
    right: 0;
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .item-2 {
    height: 650px;
  }
  .item-2 h2 {
    top: 70px;
    right: 185px;
  }
  .item-2 .content-1 .fractal {
    position: absolute;
    bottom: -40px;
    left: -60px;
  }
  .item-2 .content-1 img:first-child {
    height: 450px;
  }
  .item-2 .content-2 {
    width: 600px;
    height: 570px;
  }
  .item-2 .content-2 .click {
    top: 150px;
    width: 300px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
  width: 215px;
  cursor: pointer;
}

.box span {
  margin-top: 43px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #715841;
}

.box img {
  opacity: 1;
  transition: opacity .5s ease;
}

.box:hover img {
  opacity: .8;
  transition: opacity .5s ease;
}

@media (max-width: 1300px) {
  .box {
    width: 180px;
  }
}

@media (max-width: 1200px) {
  .box span {
    margin-top: 20px;
  }
}

.modal-active {
  z-index: 40;
  opacity: 1;
  transition: opacity .3s ease;
}

.modal-passive {
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 1190px;
  height: 360px;
  background: #C0A66C;
  display: flex !important;
  z-index: 42;
  position: relative !important;
  box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275);
  border-radius: 15px;
}

.modal .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.modal p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  color: #715841;
  color: #fff;
  width: 100%;
}

@media screen and (max-width: 1500px) {
  .modal p {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: 992px) {
  .modal p {
    line-height: 38px !important;
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .modal p {
    line-height: 34px !important;
    font-size: 16px;
  }
}

.modal .info {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.modal .info span {
  display: block;
}

.modal .info .label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.modal .info .price {
  margin-top: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
}

.modal .info button {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.modal .info .counter {
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 120px;
  height: 80px;
  position: relative;
}

.modal .info .counter span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #FFFFFF;
  position: absolute;
  top: 17px;
  left: 24px;
}

.modal .info .counter .up, .modal .info .counter .down {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal .info .counter .up {
  right: 24px;
  top: 14px;
}

.modal .info .counter .down {
  bottom: 14px;
  right: 24px;
}

.basket {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.basket .content {
  height: 100%;
  width: 740px;
  border-radius: 10px 0 0 10px;
  background: #BDA367;
  position: relative;
}

.basket .content img, .basket .content span, .basket .content div, .basket .content button {
  position: absolute;
}

.basket .content img {
  left: 83px;
  top: 25px;
}

.basket .content span {
  left: 125px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  color: #715841;
  color: #fff;
}

@media screen and (max-width: 1500px) {
  .basket .content span {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: 992px) {
  .basket .content span {
    line-height: 38px !important;
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .basket .content span {
    line-height: 34px !important;
    font-size: 16px;
  }
}

.basket .content .amount {
  top: 8px;
  font-weight: 200;
}

.basket .content .price {
  bottom: 8px;
  font-weight: 600;
}

.basket .content .line {
  width: 111px;
  height: 2px;
  border: none;
  background: #FFFEF6;
  border-radius: 5px;
  left: 236px;
  top: 37px;
}

.basket .content button {
  top: 27px;
  left: 393px;
  width: 170px;
  height: 24px;
  background: #BDA367;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFEF6;
}

.switcher {
  width: 522px;
  height: 81px;
  display: flex;
  position: absolute;
  top: 730px;
  left: 280px;
}

.switcher button {
  outline: none;
  width: 50%;
  border: 1px solid #715841;
  background-color: #FFFEF6;
  transition: background-color .3s ease;
}

.switcher button:first-child {
  border-radius: 10px 0px 0px 10px;
}

.switcher button:last-child {
  border-radius: 0px 10px 10px 0px;
}

.switcher .act {
  background-color: rgba(192, 166, 108, 0.3);
  transition: background-color .3s ease;
}

.hero__line {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 90px;
  width: 843px;
  letter-spacing: 6px;
  color: #715841;
  top: 76px;
  left: 278px;
  position: absolute;
}

@media screen and (max-width: 1500px) {
  .hero h1 {
    width: 680px;
  }
}

@media screen and (max-width: 1200px) {
  .hero h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    width: 480px;
    letter-spacing: 0px;
  }
}

@media (max-width: 992px) {
  .hero h1 {
    font-size: 48px;
    line-height: 56px;
    width: 390px;
  }
}

@media screen and (max-width: 768px) {
  .hero h1 {
    width: 300px;
    font-size: 40px;
  }
}

.hero button {
  position: absolute;
  left: 495px;
  top: 390px;
}

@media (max-width: 1200px) {
  .hero h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 90px;
    width: 843px;
    letter-spacing: 6px;
    color: #715841;
    top: 65px;
    left: 290px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1500px) {
  .hero h1 {
    width: 680px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 1200px) {
  .hero h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    width: 480px;
    letter-spacing: 0px;
  }
}

@media (max-width: 1200px) and (max-width: 992px) {
  .hero h1 {
    font-size: 48px;
    line-height: 56px;
    width: 390px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 768px) {
  .hero h1 {
    width: 300px;
    font-size: 40px;
  }
}

@media (max-width: 1200px) {
  .hero button {
    left: 400px;
  }
  .hero .bird {
    width: 400px;
  }
}

@media (max-width: 992px) {
  .hero {
    height: 805px;
  }
  .hero__line {
    display: none;
  }
  .hero .bird {
    width: 100%;
  }
  .hero button {
    left: 335px;
    top: 330px;
  }
}

@media (max-width: 765px) {
  .hero__line {
    display: none;
  }
  .hero .bird {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }
  .hero h1 {
    position: relative;
    margin: auto;
    left: 0;
  }
  .hero button {
    left: 335px;
    top: 330px;
    position: relative;
    margin: auto;
    left: auto;
    display: block;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 500px;
  }
  .hero h1 {
    top: 40px;
  }
  .hero button {
    top: 200px;
  }
}

.world h2 {
  position: absolute;
  left: 390px;
  top: 85px;
}

.world p {
  width: 550px;
  position: absolute;
  left: 360px;
  top: 215px;
}

@media (max-width: 1500px) {
  .world h2 {
    left: 310px;
  }
  .world p {
    left: 280px;
  }
}

@media (max-width: 1200px) {
  .world h2 {
    left: 300px;
  }
  .world p {
    font-size: 16px;
    line-height: 26px;
    width: 445px;
  }
}

@media (max-width: 992px) {
  .world {
    height: 415px;
  }
  .world h2 {
    text-align: end;
    width: 290px;
  }
  .world p {
    width: 460px;
    top: 204px;
    left: 227px;
  }
  .world .container-md {
    height: 110%;
  }
  .world .pictures img:first-child {
    width: 75%;
  }
  .world .pictures .fractals {
    bottom: 60px;
    left: -100%;
  }
}

@media (max-width: 992px) {
  .world {
    height: 525px;
  }
  .world h2 {
    text-align: end;
    width: 290px;
    top: 25px;
    left: 100px;
  }
  .world p {
    width: 460px;
    top: 165px;
    left: 127px;
  }
  .world .container-md {
    height: 110%;
  }
  .world .pictures img:first-child {
    width: 200px;
  }
  .world .pictures .fractals {
    bottom: 60px;
    left: -100%;
  }
}

@media (max-width: 576px) {
  .world p {
    position: relative;
    left: 0;
    top: 40px;
  }
  .world h2 {
    position: relative;
    left: 0;
  }
}

@media (max-width: 460px) {
  .world h2 {
    left: -45px;
  }
  .world p {
    position: relative;
    left: 0;
    top: 40px;
    width: 180%;
    font-size: 12px;
  }
  .world h2 {
    position: relative;
  }
  .world .pictures img:first-child {
    width: 170px;
    top: 37px;
  }
  .world .pictures .fractals {
    width: 200px;
    bottom: 120px;
    left: -150%;
  }
}

.art {
  margin-bottom: 220px;
}

.art .content h2, .art .content p, .art .content button, .art .content .fractal {
  position: absolute;
}

.art .content-1 h2 {
  top: 56px;
  left: 213px;
}

.art .content-1 p {
  top: 225px;
  left: 542px;
  width: 515px;
}

.art .content-1 button {
  top: 455px;
  left: 360px;
}

.art .content-1 .fractal {
  bottom: -220px;
  left: 320px;
}

.art .content-2 {
  display: flex;
  justify-content: flex-end;
  margin-top: -100px;
}

.art .content-2 p {
  right: 544px;
  width: 488px;
  top: 320px;
}

.art .content-2 button {
  right: 367px;
  top: 464px;
}

.art .content-2 .fractal {
  bottom: -160px;
  right: 272px;
}

@media (max-width: 1350px) {
  .art .content img:first-child {
    width: 400px;
  }
  .art .content .fractal {
    width: 350px;
  }
  .art .content-1 p {
    left: 440px;
  }
  .art .content-1 button {
    left: 280px;
  }
  .art .content-2 p {
    right: 415px;
    width: 465px;
  }
  .art .content-2 button {
    right: 290px;
  }
  .art .content-2 .fractal {
    bottom: -240px;
    right: 250px;
  }
}

@media (max-width: 1200px) {
  .art .content-1 .fractal {
    left: 200px;
  }
  .art .content-2 .fractal {
    right: 215px;
  }
}

@media (max-width: 992px) {
  .art .content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .art .content-1 h2 {
    top: -55px;
    left: 390px;
  }
  .art .content-1 .fractal-2 {
    width: 300px;
    top: 430px;
    z-index: 12;
  }
  .art .content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }
  .art .content-2 h2 {
    top: -55px;
    left: 390px;
  }
  .art .content-2 .fractal-3 {
    width: 300px;
    top: 430px;
    z-index: 12;
  }
  .art .content p, .art .content button {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
  }
  .art .content img:first-child {
    border-radius: 15px;
  }
  .art .content p {
    width: 400px;
    z-index: 15;
  }
}

@media (max-width: 768px) {
  .art .content-1 h2 {
    position: relative;
    top: -670px;
    left: initial;
  }
  .art .content-1 p {
    top: -80px;
    z-index: 15;
  }
  .art .content-1 button {
    top: -70px;
  }
  .art .content-1 .fractal-2 {
    left: 0;
  }
  .art .content-2 h2 {
    position: relative;
    top: -670px;
    left: initial;
  }
  .art .content-2 p {
    top: 25px;
    z-index: 15;
  }
  .art .content-2 button {
    top: 20px;
  }
  .art .content-2 .fractal-3 {
    left: 0;
  }
}

@media (max-width: 460px) {
  .art {
    margin-bottom: 120px;
  }
  .art .content img:first-child {
    width: 320px;
  }
  .art .content p {
    width: 320px;
  }
  .art .content-1 h2 {
    top: -535px;
  }
  .art .content-1 .fractal-2 {
    width: 250px;
    left: 50px;
    z-index: 12;
    top: 350px;
  }
  .art .content-2 {
    margin-top: 0;
  }
  .art .content-2 h2 {
    top: -535px;
  }
  .art .content-2 .fractal-3 {
    width: 250px;
    left: 50px;
    z-index: 12;
    top: 350px;
  }
}

.silk {
  height: 700px;
  margin-bottom: 320px;
}

.silk .content h2 {
  position: absolute;
  width: 450px;
  top: 116px;
  left: 368px;
}

.silk .content p {
  position: absolute;
  width: 488px;
  top: 370px;
  left: 555px;
}

.silk .content button {
  position: absolute;
  top: 553px;
  left: 362px;
}

.silk .content .fractal {
  position: absolute;
  left: -208px;
  bottom: -208px;
}

@media (max-width: 1350px) {
  .silk {
    margin-bottom: 155px;
  }
  .silk .content h2 {
    left: 280px;
    top: 70px;
  }
  .silk .content p {
    top: 295px;
    left: 450px;
  }
  .silk .content button {
    top: 425px;
    left: 275px;
  }
  .silk .content img:first-child {
    width: 390px;
  }
  .silk .content .fractal {
    width: 330px;
    height: 330px;
    bottom: -160px;
    left: -160px;
  }
}

@media (max-width: 1200px) {
  .silk .content h2 {
    width: 245px;
  }
  .silk .content p {
    top: 265px;
    left: 410px;
    width: 435px;
  }
}

@media (max-width: 992px) {
  .silk .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .silk .content h2 {
    top: -55px;
    left: auto;
  }
  .silk .content .fractal-3 {
    width: 300px;
    top: 430px;
    z-index: 12;
    left: auto;
  }
  .silk .content p, .silk .content button {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
  }
  .silk .content img:first-child {
    border-radius: 15px;
  }
  .silk .content p {
    width: 400px;
    z-index: 15;
  }
}

@media (max-width: 460px) {
  .silk .content img:first-child {
    width: 320px;
  }
  .silk .content p {
    width: 320px;
    margin-top: 40px;
  }
  .silk .content .fractal {
    width: 250px;
    left: auto;
    z-index: 12;
    top: 300px;
  }
}

.section-gallery {
  height: 900px;
  position: relative;
}

.section-gallery h2 {
  position: absolute;
  left: 390px;
}

.section-gallery .content {
  height: 100%;
}

.section-gallery .fractal {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 992px) {
  .section-gallery {
    height: 450px;
  }
  .section-gallery .fractal {
    display: none;
  }
  .section-gallery h2 {
    width: 300px;
    left: auto;
    right: 50px;
  }
}

@media (max-width: 576px) {
  .section-gallery h2 {
    width: 200px;
  }
}

.footer {
  height: 80px;
  width: 100%;
  background: #BDA367;
}

.footer button {
  width: 165px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #FFFEF6;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #BDA367;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer input {
  border: 1px solid #FFFEF6;
  box-sizing: border-box;
  border-radius: 10px;
  width: 330px;
  height: 60px;
  padding-left: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FFFEF6;
  outline: none;
  margin-right: 18px;
}

.footer__container {
  position: relative;
}

.footer a {
  position: absolute;
  left: 0;
}

@media (max-width: 992px) {
  .footer {
    height: 180px;
  }
  .footer input, .footer button {
    width: 290px;
    margin-right: 0;
    position: absolute;
    right: 0px;
  }
  .footer input {
    top: 20px;
  }
  .footer button {
    bottom: 20px;
  }
}

@media (max-width: 460px) {
  .footer {
    height: 130px;
  }
  .footer input, .footer button {
    width: 270px;
    height: 40px;
    margin-right: 0;
    position: absolute;
    right: 10px;
  }
  .footer a {
    left: 10px;
  }
  .footer input {
    top: 20px;
  }
  .footer button {
    bottom: 20px;
  }
}

.story h1 {
  position: absolute;
  top: 282px;
  right: 282px;
}

@media (max-width: 1500px) {
  .story h1 {
    position: absolute;
    top: 190px;
    right: 200px;
  }
  .story img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */