@media (min-width: 1500px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
}}


header{
    padding-top: 45px;
}

body{
    background-color: #FFFEF6;;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #589BFF;
}
#mainNav.navbar-shrink {
  border-color: rgba(34, 34, 34, 0.1);
  background-color: white;
}
#mainNav.navbar-shrink .navbar-brand {
  color: #222222;
}
#mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
  color: #589BFF;
}
#mainNav.navbar-shrink .navbar-nav > li > a,
#mainNav.navbar-shrink .navbar-nav > li > a:focus {
  color: #222222;
}
#mainNav.navbar-shrink .navbar-nav > li > a:hover,
#mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
  color: #589BFF;
}

@media (max-width: 1200px){
    header{
        padding-top: 30px;
    }
}