@media (min-width: 1500px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
}}


header{
    padding-top: 45px;
}

body{
    background-color: #FFFEF6;;
}

@media (max-width: 1200px){
    header{
        padding-top: 30px;
    }
}