@import 'mixins';

@media (min-width: 1500px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
}}


header{
    padding-top: 45px;
}

body{
    background-color: #FFFEF6;;
}

.title{
  @include KronaGiant;
}

.paragraph{
  @include paragraph;
}

.button{
  @include button;
  @include Roboto-regular;
}

.line-hidden{
  @include line-hidden;
}

.content{
  padding: 0;
  position: relative;
}

@media (max-width: 1200px){
    header{
        padding-top: 30px;
    }
}

@media (max-width: 992px){
  header{
    margin-bottom: 40px;
    padding: 0 15px;
  }

    .section-gallery, .footer{
    display: none;
  }
}

@media (max-width: 576px){
  header{
    padding-top: 30px;
    img{
      width: 120px;
    }
  }
}

.mobile-break-line{
  @include mobile-break-line;
}
