@import 'variables';

@mixin active-link{
    color: #BEA468;
    transition: color .3s ease-in;
}

@mixin menu{
    background: #BDA367;
    border-radius: 0 0 0px 0px;
    height: 150px;
    width: 100%;

    position: absolute;
    top: 0;
}

@mixin menu-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    
    color: #FFFEF6;

    @media (max-width:992px){
        font-size: 17px;
        // width: 50%;
    }

}

@mixin menu-list{
    display: flex;
    width: 90%;
    height: 130%;
    justify-content: space-between;
    align-items: center;

    padding-left: 0px;

    @media screen and (max-width: 1700px){
        width: 1025px;
    }

    @media screen and (max-width: 1250px){
        width: 880px;
        padding-left: 30px;
        height: 140%;
    }
    @media screen and (max-width: 1200px){
        height: 115%;
    }

    @media screen and (max-width: 992px){
        height: 100%;
        width: 80%;
    }
    @media screen and (max-width: 768px){
        width: 310px;
    }
    @media screen and (max-width: 360px){
        width: 290px;
    }
}

@mixin menu-line{
    position: absolute;
    content: '';
    display: block;
    width: 111px;
    height: 5px;
    background-color: #FFFEF6;
    @media screen and (max-width: 1700px){
        width: 80px;
    }

    @media screen and (max-width: 1250px){
        width: 65px;
    }

    // @media screen and (max-width:992px){
    //     width: 10px;
    //     height: 10px;
    // }
}

@mixin Krona{
    font-family: 'Krona One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #D4CCBF;
    transition: color .3s ease-in;
    @media screen and (max-width: 1200px){
        font-size: 14px;
    }
}

@mixin KronaGiant{
    // font-family: OratorW01-Medium;
    // font-family: 'PingFang+SC';
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 90px;
    width: 843px;
    // width: 830px;
    letter-spacing: 6px;
    color: #715841;
    @media screen and (max-width: 1500px){
        width: 680px;
    }

    @media screen and (max-width: 1200px){
        font-weight: 300;
        font-size: 60px;
        line-height: 75px;
        width: 480px;
        letter-spacing: 0px;
    }

    @media (max-width: 992px){
        font-size: 48px;
        line-height: 56px;
        width: 390px;
    }

    @media screen and (max-width: 768px){
        width: 300px;
        font-size: 40px;
    }
}

@mixin KronaMedium{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 90px;
    width: 625px;
    letter-spacing: 6px;
    color: #715841;
    @media screen and (max-width: 1500px){
        width: 500px;
        letter-spacing: 4px;
        font-size: 40px;
    }

    @media screen and (max-width: 1200px){
        font-size: 32px;
    }

    @media screen and (max-width: 992px){
        width: 300px;
        line-height: 40px;
        margin-top: 15px;
    }

    @media screen and (max-width: 576px){
        width: 150px;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 2px;
    }
}

@mixin Roboto-regular{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    
    color: #715841;
}

@mixin paragraph-bold{
    font-family: Roboto;
    // font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    color: #715841;

    @media screen and (max-width: 1500px){
        font-size: 21px;
        line-height: 30px;
    }

    @media screen and (max-width: 992px){
        line-height: 38px !important;
        font-size: 18px ;
    }

    @media screen and (max-width: 460px){
        line-height: 34px !important;
        font-size: 18px ;
    }
}


@mixin paragraph{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #715841;

    @media screen and (max-width: 1500px){
        font-size: 18px;
        line-height: 30px;
    }

    @media screen and (max-width: 992px){
        line-height: 38px !important;
        font-size: 16px ;
    }

    @media screen and (max-width: 460px){
        line-height: 34px !important;
        font-size: 16px ;
    }
}

@mixin paragraph-thin{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    color: #715841;
    
}

@mixin paragraph-white{
    @include paragraph;
    color: #fff;
}

@mixin line-hidden{
    opacity: 0 !important;
    transition: opacity .3s ease !important;
}

@mixin button{
    width: 234px;
    height: 81px;
    border: 1px solid #715841;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 10px;
    opacity: 1;
    z-index: 30;

    transition: background-color 1s ease;
    &:hover{

        transition: background-color 1s ease;
        background-color: lighten($color: #000000, $amount: 30);
        opacity: .6;
        color: lighten($color: #715841, $amount: 30)
        // color: #715841;
    }

    @media screen and (max-width: 1200px){
        width: 190px;
        height: 67px;
    }

    @media screen and (max-width: 768px){
        width: 400px;
    }
    @media screen and (max-width: 460px){
        width: 320px;
    }

}

@mixin content{
    background: #FFFFFF;
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656), 0px 100px 80px rgba(0, 0, 0, 0.03);
    border-radius: 10px;

    width: 163.94px;
    height: 237.71px;
    @media screen and (max-width: 1300px){
        width: 134px;
        height: 219px;
    }
}

@mixin content-wrapper{
    width: 185.02px;
    height: 258.79px;
    
    opacity: 0.2;
    border: 2px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 18px;

    @media screen and (max-width: 1300px){
        width: 154px;
        height: 240px;
    }
}

@mixin footer{
    height: 120px;
    width: 100%;
    background: #BDA367;
}

@mixin footer-input{
    border: 1px solid #FFFEF6;
    box-sizing: border-box;
    border-radius: 10px;
    width: 330px;
    height: 50px;

    padding-left: 33px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFEF6;

    outline: none;
}

@mixin footer-button{
    width: 165px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #FFFEF6;

    box-sizing: border-box;
    border-radius: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #BDA367;

    outline: none;

    @include alignment;
}

@mixin alignment{
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin item-global{
    @media screen and (max-width: 1500px){
        width: 400px;
    }
    @media screen and (max-width: 1200px){
        width: 300px;
    }
}

@mixin item{
    @media screen and (max-width: 1500px){
        width: 180px;
    }
    @media screen and (max-width: 1200px){
        width: 150px;
    }
}

@mixin mobile-break-line{
    display: contents;
    @media screen and (max-width: 992px){
        display: block;
    }
}