@import 'variables';

@mixin Krona{
    font-family: 'Krona One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #D4CCBF;
    @media screen and (max-width: 1200px){
        font-size: 14px;
    }
}

@mixin KronaGiant{
    // font-family: 'Krona One', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 90px;
    width: 843px;
    letter-spacing: 6px;
    color: #715841;
    // border: 2px solid #FFFEF6;
    // text-shadow: $text-shadow;
    @media screen and (max-width: 1200px){
        font-weight: 300;
        font-size: 60px;
        line-height: 75px;
        width: 468px;
        letter-spacing: 0px;
    }
}

@mixin Roboto-regular{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    
    color: #715841;
}

@mixin button{
    width: 234px;
    height: 81px;
    border: 1px solid #715841;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 10px;
    opacity: 1;

    // transition: opacity .6s ease;
    transition: background-color .5s ease;
    &:hover{
        // transition: opacity .6s ease;
        transition: background-color 1s ease;
        background-color: lighten($color: #000000, $amount: 30);
        opacity: .6;
    }

    @media screen and (max-width: 1200px){
        width: 190px;
        height: 67px;
    }

}
