@import '../mixins';

.box{
    display: flex;
    flex-direction: column;
    align-items: center;

    // margin-top: 50px;
    margin-top: -25px;
    width: 215px;

    cursor: pointer;

    span{
        margin-top: 43px;
        @include paragraph-thin;
    }

    img{
        opacity: 1;
        transition: opacity .5s ease;
    }

    &:hover{
        img{
            opacity: .8;
            transition: opacity .5s ease;
        }
    }
}


@media (max-width: 1300px){
    .box{
        width: 180px;
    }
}

@media (max-width: 1200px){
    .box{
        span{
            margin-top: 20px;
        }
    }
}

@media (max-width: 992px){
    .box{
        width: 280px;
    }
}