@import '../mixins';

.item-1{
    overflow: hidden;
    h2{
        position: absolute;
        top:140px;
        left: 325px;
    }

    .content-1{
        img{
            @include item-global;
        }
        .fractal{
            position: absolute;
            bottom: -10px;
            right: -60px;
        }
    }

    .content-2{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 845px;
        width: 800px;

        // overflow: hidden;

        img{
            @include item;
        }

        .click{
            position: absolute;

            top: 300px;
            left: 0;
            width: 400px;
        }
    }
}

@media (max-width: 1500px){
    .item-1{

        h2{
            top:120px;
            left: 325px;
        }

        .content-2{
            height: 720px;

            .click{
                top: 260px;
                left: 0;
                width: 400px;
            }

        }
    }
}


@media (max-width: 1300px){
    .item-1{
        .content-2{
            width: 700px;
            margin-left: 20px;
        }
    }
}

@media (max-width: 1200px){
    .item-1{

        h2{
            top: 70px;
            left: 185px;
        }

        .content-1{
            .fractal{
                position: absolute;
                bottom: -40px;
                right: -60px;
            }
        }

        .content-2{
            height: 570px;
            width: 600px;
            // margin-left: 0;
            .click{
                top: 150px;
                width: 300px;
            }
        }
    }
}