.switcher{
    width: 522px;
    height: 81px;

    display: flex;

    position: absolute;
    top: 730px;
    left: 280px;

    button{
        
        outline: none;

        width: 50%;
        
        border: 1px solid #715841;
        background-color: #FFFEF6;
        transition: background-color .3s ease;

        &:first-child{
            border-radius: 10px 0px 0px 10px;
        }
        &:last-child{
            border-radius: 0px 10px 10px 0px;
        }
    }

    .act{
        background-color: rgba(192, 166, 108, 0.3);
        transition: background-color .3s ease;

    }
}

@media (max-width: 1300px){
    .switcher{
        top: 615px;
        left: 230px;
    }
}

@media (max-width: 1200px){
    .switcher{
        width: 450px;
        height: 60px;

        top: 500px;
        left: 150px;
    }
}

@media (max-width: 992px){
    .switcher{
        position: relative;
        top: 200px;
        margin: auto;
        left: 0;
    }
}

@media (max-width: 768px){
    .switcher{
        width: 320px;
        button{
            line-height: 25px !important;
        }
    }
}