@import '../mixins';

.swiper-container {
    width: 70%;
    margin-left: 30% !important;
    margin-right: 0 !important;
    height: 400px;

    top: 243px;

    .content-wrapper{
        @include content-wrapper;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .content{
        @include content;
    }

    .swiper-scrollbar-drag{
        background: #BDA367 !important;
    }

}

.scrollbar{
    bottom: auto !important;
}

.swiper-wrapper{
    margin-top: 85px;


}
