@import '../mixins';

.swiper-container {
    width: 70%;
    margin-left: 30% !important;
    margin-right: 0 !important;
    height: 400px;

    top: 243px;

    .content-wrapper{
        @include content-wrapper;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .content{
        @include content;
    }

    .swiper-scrollbar-drag{
        background: #BDA367 !important;
    }

}

.item-1{

    .swiper-button-prev{
        content: url('../../img/backward.svg') !important;
        outline: none;
    }

    .swiper-button-next{
        content: url('../../img/forward.svg') !important;
        outline: none;
    }

    .backward{
        top: inherit;
        bottom: 250px;
        left: -135px;
        width: 80px;
        height: 80px;

    }

    .forward{
        top: inherit;
        bottom: 250px;
        right: 0px;
        width: 80px;
        height: 80px;
    }
}


.item-2{

    .swiper-button-prev{
        content: url('../../img/backward.svg') !important;
        outline: none;
    }

    .swiper-button-next{
        content: url('../../img/forward.svg') !important;
        outline: none;
    }

    .backward-2{
        top: inherit;
        bottom: 250px;
        left: -135px;
        width: 80px;
        height: 80px;

    }

    .forward-2{
        top: inherit;
        bottom: 250px;
        right: -135px;
        width: 80px;
        height: 80px;
    }
}

.swiper-container-2 {
    margin-right: 0 !important;
    height: 80%;
    width: 700px;

    top: 365px;
    // left: -25px;

    overflow: hidden;

    position: absolute;

    .content-wrapper{
        @include content-wrapper;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .content{
        @include content;
    }

    .swiper-scrollbar-drag{
        background: #BDA367 !important;
    }

    .box{
        margin-right: 20px;
    }

}

.swiper-container-3 {
    margin-right: 0 !important;
    height: 80%;
    width: 700px;

    top: 365px;
    // left: -25px;

    overflow: hidden;

    position: absolute;

    .content-wrapper{
        @include content-wrapper;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .content{
        @include content;
    }

    .swiper-scrollbar-drag{
        background: #BDA367 !important;
    }

    .box{
        margin-right: 20px;
    }

}

.scrollbar{
    bottom: auto !important;
}

.swiper-wrapper{
    margin-top: 85px;

}

@media (max-width: 1500px){
    .swiper-container-2{
        top: 295px;
    }

    .swiper-container-3{
        top: 295px;
    }

}

@media (max-width: 1300px){
    .swiper-container-2{
        width: 600px;
        left:0;
    }

    .item-2{
    
        .backward-2{
            top: inherit;
            bottom: 250px;
            left: -85px;
            width: 80px;
            height: 80px;
    
        }
    
        .forward-2{
            top: inherit;
            bottom: 250px;
            right: -55px;
            width: 80px;
            height: 80px;
        }
    }
}

@media (max-width: 1200px){
    .swiper-container-2{
        top: 189px;
    }

    .item-1{
    
        .forward{
            bottom: 200px;
            right: -50px;
            width: 60px;
            height: 60px;
        }

        .backward{
            bottom: 200px;
            left: -80px;
            width: 60px;
            height: 60px;
        }
    }

    .item-2{
    
        .backward-2{
            top: inherit;
            bottom: 250px;
            left: -85px;
            width: 60px;
            height: 60px;
    
        }
    
        .forward-2{
            top: inherit;
            bottom: 250px;
            right: -55px;
            width: 60px;
            height: 60px;
        }


    }

    .swiper-container-3 {
        top: 185px;
        width: 600px;
        right: 0;
        .swiper-slide{
            width: 180px;
        }
    }
}

@media (max-width: 992px){

    .scrollbar{
        display: none;
    }

    .swiper-container{
        top: auto;
        .content{
            width: 85%;
        }
    }

    .swiper-container-2{
        position: relative;
        margin: auto;
        margin-right: auto !important;
        top: -75px;
    }

    .swiper-container-3{
        position: relative;
        margin: auto;
        margin-right: auto !important;
        top: -75px;
    }

    .swiper-wrapper{
        margin-top: 150px;
    }

    .item-1{
    
        .forward{
            display: none;
        }

        .backward{
            display: none;
        }
    }

    .item-2{
    
        .backward-2{
            display: none;
    
        }
    
        .forward-2{
            display: none;
        }


    }
}

@media (max-width: 768px){
    .swiper-container-2{
        width: 320px;
    }
    .swiper-container-3{
        width: 320px;
    }
}

@media (max-width: 576px){
    .swiper-container{
        width: 79%;
        margin-left: 20% !important;
    }

    .swiper-container .content-wrapper{
        height: 190px;
    }

    .content-wrapper{
        width: 120px !important;
    }

    .swiper-container-2{
        width: 100%;
        // margin-left: 3%;
    }
    .swiper-container-3{
        width: 100%;
    }
}