@import '../mixins';

.footer{
    @include footer;

    button{
        @include footer-button;
    }

    input{
        @include footer-input;
        margin-right: 18px;
    }

    &__container{
        position: relative;
    }

    a{
        position: absolute;
        left:0;
    }
}

@media (max-width:992px){
    .footer{
        height: 180px;
        // position: relative;

        input, button{
            width: 290px;
            margin-right: 0;
            position: absolute;
            right: 0px;
        }
        input{
            top: 20px;
        }
        button{
            bottom: 20px;
            // display: block;
            // justify-content: flex-start;
            // padding-left: 33px;
        }
    }
}

@media (max-width:460px){
    .footer{
        height: 130px;
        // position: relative;

        input, button{
            width: 270px;
            height: 40px;
            margin-right: 0;
            position: absolute;
            right: 10px;
        }
        a{
            left:10px;
        }
        input{
            top: 20px;
        }
        button{
            bottom: 20px;
            // display: block;
            // justify-content: flex-start;
            // padding-left: 33px;
        }
    }
}