.section-gallery{
    
    height: 900px;

    position: relative;

    h2{
        position: absolute;
        left: 390px;
    }

    .content{
        height: 100%;
    }

    .fractal{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 992px){
    .section-gallery{
        height: 450px;
        .fractal{
            display: none;
        }

        h2{
            width: 300px;
            left: auto;
            right: 50px;
        }
    }
}

@media (max-width: 576px){
    .section-gallery{
        h2{
            width: 200px;
        }
    }
}