@import '../mixins';

.hero{
    &__line{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    h1{
        @include KronaGiant;
        top: 76px;
        left: 278px;
        position: absolute;
    } 

    button{
        position: absolute;
        left: 495px;
        top: 390px;
    }
}

@media (max-width: 1200px){
    .hero{
        h1{
            @include KronaGiant;
           top: 65px;
           left: 290px;
        }

        button{
            left: 400px;
        }

        & .bird{
            width: 400px;
        }
    }
}

@media (max-width: 992px){
    .hero{
        height: 805px;
        &__line{
            display: none;
        }

        .bird{
            width: 100%;
        }

        button{
            left: 335px;
            top: 330px;
        }

    }
}

@media (max-width: 765px){
    .hero{
        &__line{
            display: none;
        }

        .bird{
            // width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
        }

        h1{
            position: relative;
            margin: auto;
            left:0;
        }

        button{
            left: 335px;
            top: 330px;
            position: relative;
            margin: auto;
            left: auto;
            display: block;
        }

    }
}

@media (max-width: 576px){
    .hero{
        height: 500px;
        h1{
            top: 40px;
        }

        button{
            top: 200px;
        }
    }
}