@import '../mixins';

.world{
    
    h2{
        position: absolute;
        left: 390px;
        top:85px;

    }

    p{
        width: 550px;
        position: absolute;
        left: 360px;
        top: 215px;
    }
}

@media (max-width: 1500px){
    .world{
        h2{
            left: 310px;
        }
        p{
            left: 280px;
        }
    }
}

@media (max-width: 1200px){
    .world{
        h2{
            left: 300px;
        }

        p{
            font-size: 16px;
            line-height: 26px;
            width: 445px;
        }
    }
}

@media (max-width: 992px){
    .world{
        height: 415px;

        h2{
            text-align: end;
            width: 290px;
        }

        p{
            width: 460px;
            top: 204px;
            left: 227px;
        }

        .container-md{
            height: 110%;
        }

        .pictures{
            img:first-child{
                width: 75%;
            }

            .fractals{
                bottom: 60px;
                left: -100%;
            }
        }

    }
}

@media (max-width: 992px){
    .world{
        height: 525px;

        h2{
            text-align: end;
            width: 290px;
            top: 25px;
            left: 100px;
        }

        p{
            width: 460px;
            top: 165px;
            left: 127px;
        }

        .container-md{
            height: 110%;
        }

        .pictures{
            img:first-child{
                width: 200px;
            }

            .fractals{
                bottom: 60px;
                left: -100%;
            }
        }

    }
}

@media (max-width: 576px){
    .world{
        p{
            position: relative;
            left: 0;
            top: 40px;

        }

        h2{
            position: relative;
            left: 0;
        }
    }
}

@media (max-width: 460px){
    .world{

        h2{
            left: -45px;
        }

        p{
            position: relative;
            left: 0;
            top: 40px;
            width: 180%;
            font-size: 12px;
            
        }

        h2{
            position: relative;
            // left: 0;
        }

        .pictures{

            img:first-child{
                width: 170px;
                top: 37px;
            }

            .fractals{
                width: 200px;
                bottom: 120px;
                left: -150%;
            }
        }
    }
}

